################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ParliamentVotingApp/.vs/ParliamentVotingApp.slnx
/ParliamentVotingApp/.vs/ProjectEvaluation
node_modules
.vscode
