################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ParliamentVotingApp/.vs/ParliamentVotingApp.slnx
/ParliamentVotingApp/.vs/ProjectEvaluation
node_modules
.vscode
/ParliamentVotingApp/appsettings.Development.json
/ParliamentVotingClient/node_modules
/ParliamentVotingClient/.vscode
/ParliamentVotingClient/.angular/cache/21.0.4/ParliamentVotingClient
